<div id="<%= dom_id run_submission %>">
  <p>
    <strong>Run:</strong>
    <%= run_submission.run_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= run_submission.user_id %>
  </p>

  <p>
    <strong>progress:</strong>
    <%= run_submission.progress %>
  </p>

</div>
