<h1>Editing run submission</h1>

<%= render "form", run_submission: @run_submission %>

<br>

<div>
  <%= link_to "Show this run submission", @run_submission %> |
  <%= link_to "Back to run submissions", run_submissions_path %>
</div>
